@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    @{
        ViewData["Title"] = "About";
    }
     <link rel="stylesheet" href="~/css/Aboutus1.css"> 
  
    </head>
    <body>
        
        <h2>About Us</h2>
        <div class="about-section">
            <h1>WELCOME TO Harvad GROUP</h1>
            <p>Harvad, as a premium Institution is known for its unique quality of Education. Harvad Group is the only institute that brings education, information technology (IT) development, and infrastructure development under one roof. The Group offers various traditional and modern courses to aspiring students who come from across the globe..</p>
            <p>Harvad Group’s campus is spread over 70 acres and is situated in south Coimbatore on NH 209. Bestowed with a state-of-the-art infrastructure, the group takes great care in selection of its qualified and experienced teaching staffs..</p>
        </div>
        
<div class="about-section">
    <h1>INSTITUTIONS, TECHNOPARK, & HOUSING</h1>
    <p>The saga started in 1979, with a Matriculation school located in Eachanari, Coimbatore. Right from its inception, giving the best in all forms is the only motive of the Rathinam Group. After making a healthy run in the industry for more than 20 years, Rathinam Group expanded. Now it is named to Rathinam Techzone, a campus with various institutions, encompassing the spectrum of Pre-KG to Ph.D education and Technology Parks, including a Special Economic Zone (SEZ)..</p>
    <p>There are ~4000 students enrolled under the institutions and ~14 companies located inside the IT Park and SEZ, backing more than 2500 employees. Rathinam Group also has multiple faces by pioneering education, Information Technology(IT) development and infrastructure development (IT Park / Housing Development) in South Coimbatore. Rathinam Group approaches education from a different angle. It offers education in a new way that no other institution can offer. Learning, Working and Living – this is how we define life at Rathinam!.</p>
</div>
<br><br>
    <div class="about-section">
    <h1>Harvad Infoormation</h1>
    <p>Rathinam College of Arts & Science’s National Service Scheme (NSS) has been honored with the Certificate of Merit award in 2023. This recognition applauds the NSS for its unwavering commitment to volunteering and consistent support for various projects undertaken by Shanthi Ashram, Coimbatore. The award highlights the college’s dedication to community service and social impact. from its inception, giving the best in all forms is the only motive of the Rathinam Group. After making a healthy run in the industry for more than 20 years, Rathinam Group expanded. Now it is named to Rathinam Techzone, a campus with various institutions, encompassing the spectrum of Pre-KG to Ph.D education and Technology Parks, including a Special Economic Zone (SEZ)..</p>
    <p>DBT (Department of Biotechnology) Star College: Rathinam College is honored with the prestigious DBT (Department of Biotechnology) Star College status, receiving a grant of 160,00,000 INR. This significant financial support reflects the institution’s dedication to advancing excellence in biotechnology education and fostering research initiatives in the field</p>
    </div>
    <footer>
        <table id="customers">
            <tr>
                <th>Other Links</th>
                <th>
                    Quick Links
                </th>
                <th>Contact Us</th>
            </tr>
            <tr>
                <td>Campus Visit</td>
                <td>Campus Map</td>
                <td>Jobs at Rathinam Institutions Us</td>
            </tr>
            <tr>
                <td>NIRF - College</td>
                <td>NIRF - Overall Berglund</td>
                <td>6382907344</td>
            </tr>
            <tr>
                <td>Godd place ments c</td>
                <td>A++ Ranking</td>
                <td>Rcas</td>
            </tr>
            <tr>
                <td>Ernst Handel</td>
                <td>Roland Mendel</td>
                <td>Austria</td>
            </tr>
            <tr>
                <td>Island Trading</td>
                <td>Helen Bennett</td>
                <td>UK</td>
            </tr>
            <tr>
                <td>Königlich Essen</td>
                <td>Philip Cramer</td>
                <td>Germany</td>
            </tr>
            <tr>
                <td>Laughing Bacchus Winecellars</td>
                <td>Yoshi Tannamuri</td>
                <td>Canada</td>
            </tr>
            <tr>
                <td>Magazzini Alimentari Riuniti</td>
                <td>Giovanni Rovelli</td>
                <td>Italy</td>
            </tr>
            <tr>
                <td>North/South</td>
                <td>Simon Crowther</td>
                <td>UK</td>
            </tr>
            <tr>
                <td>Paris spécialités</td>
                <td>Marie Bertrand</td>
                <td>France</td>
            </tr>
        </table>
        </footer>
</body>
</html> 