@* <head>
    <style>
        h1{
        background-color:cadetblue;
        border: 2px solid black;
        width: 700px;
        padding:12px;
        border-radius:60px;
        }
        p{
            font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
    </style>
</head>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@{
    ViewData["Title"] = "Course";
}

<h2> UG & PG Course</h2>


<h1>Department of Computer science</h1>

<p>
    a. B.Sc Computer Science
    <br> <br>
    b. B.Sc Information Technology
    <br> <br>
    c. B.Sc Computer Technology
    <br> <br>
    d. BCA
    <br> <br>
    e. B.Sc Digital and Cyber Forensic Science
    <br> <br>
    f. M.Sc Computer Science
    <br> <br>
    g. M.Sc Information Technology
    <br> <br>
    h. M.Sc Data Science and Business Analysis
    <br> <br>
    i. B.Sc Artificial Intelligence and Machine Learning
    <br> <br>
    j. B.Sc Computer Science with Cyber Security
    <br> <br>
    k. B.Sc Computer Science (Artificial Intelligence & Data Science)
    <br> <br>

    l. B.Sc Computer Science (Artificial Intelligence)
    <br> <br>

    m. B.Sc.Computer Science (Data Science)
    <br> <br>

    n. B.Sc Data Science and Analytics
</p>
<h1>Department of Maths </h1>
<p>
    a. B.Sc Mathematics
    <br> <br>
    b. M.Sc Mathematics
</p>
<h1>Department of Physics</h1>
B.Sc Physics
<h1>Department of Bio Science</h1>
a. B.Sc Biotechnology
<br>
<br>
b. B.Sc Microbiology
<br>
<br>
c. M.Sc Biotechnology
<h1>Department of Visual Communication </h1>
<p>
    a. B.Sc Visual Communication (Electronic Media)
    <br>
    <br>
    b. MA Journalism and Mass Communication
</p>
<h1>Department of Management</h1>
<p>
    a. BBA Computer Applications
    <br>
    <br>
    b. BBA Logistics
    <br>
    <br>
    c. BBA Aviation Management
    <br>
    <br>
    d. MBA Innovation Entrepreneurship & Venture Development
    <br>
    <br>
    e. MBA
    <br>
    <br>
    f. M.A Public Administration
</p>
<h1>Department of English</h1>
<p>
    a. BA English Literature
    <br>
    <br>
    b. MA English Literature
</p>
