@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@


<!DOCTYPE html>
<html lang="en">
<head>
   @*  <link rel="stylesheet" href="~/css/newnav.css"> *@
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Home</title>
    
    <style>
        .box1{
            background-color:azure;
            border: 2px solid black;
            margin:40px;
            padding:30px;
            border-radius:15px;
            text-indent: 10px;
            font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }

        .box2{
            background-color: azure;
            border: 2px solid black;
            width: 150px;
            padding:12px;
            border-radius:30px;
        }

        .box3 {
            background-color: azure;
            border: 2px solid black;
            width: 150px;
            padding: 12px;
            border-radius: 30px;
        }

        .box4 {
            background-color: azure;
            border: 2px solid black;
            width:150px;
            padding: 12px;
            border-radius: 30px;
        }
        .main{
            flex-direction:column;
            grid-template-columns: repeat(2, 2fr);
        }
        .box5{
            background-color: azure;
            border: 2px solid black;
            width: 300px;
            padding: 16px;
            border-radius: 30px;
        }

        .box6 {
            background-color: azure;
            border: 2px solid black;
            width: 300px;
            padding: 16px;
            border-radius: 30px;
        }



        }
        .box5, .box6
        {
            margin-bottom:30px;
            padding:20px;
        }
        .box7{
            background-color:brown;
            height:30px;
            width:700px;
            padding:40px;
            border-radius: 35px;
              }
              .box8{
            background-color: azure;
            border: 2px solid black;
            margin: 50px;
            padding: 35px;
            border-radius: 35px;
            text-indent: 10px;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
              }

        #customers {
            font-family: Arial, Helvetica, sans-serif;

            width: 100%;
        }

            #customers td, #customers th {

                padding: 8px;
            }

                #customers td{
                    background-color:black
                    color():aliceblue;
                }
            #customers th {
                font-style:bold;

        #customers th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;

            color: white;
        }
    </style>

</head>
<body>
    @* <nav class="navbar">
        <div class="container">
            <div class="navbar-brand">
                <div>
                    <img src="~/images/college.png" alt="Logo" class="Logo" height="40px" width="60px" style="position:absolute; top:12px; left:27px;" />
                </div>
            </div>

            <ul class="navbar-links">
                <li><a asp-controller="User" asp-action="Home">Home</a></li>
                <li><a asp-controller="Admin" asp-action="AboutUs">AboutUs</a></li>
                <li><a asp-controller="User" asp-action="Login">SignIn</a></li>
                <li><a asp-controller="User" asp-action="Register">Signup</a></li>
                <li><a asp-controller="User" asp-action="Contact">Contact</a></li>

                <li><a asp-controller="User" asp-action="UserCourses">Courses</a></li>
                <li><a asp-controller="User" asp-action="Notice">Public Notice</a></li>

            </ul>
        </div>
    </nav>
    </div> *@

    
    
     <center>
        <h1>Harvad University Education</h1>
        <div class="box1">
                      <h1>Harvad University</h1>
    <p>
            Harvad University education, which combines the qualitative aspects of academia and technical facets of the industry.

        Education at RCAS is for someone who aspires to disseminate the status quo and promulgate a new path for themselves. Every student here is equipped with knowledge and experience, which can be applied in real-time and help to make a significant difference.<br><br />
            Harvard" redirects here. For other uses, see Harvard (disambiguation).
            Harvard University



and researchers include 188 living billionaires, eight U.S. presidents, 24 heads of state and 31 heads of government, founders of notable companies, Nobel laureates, Fields Medalists, members of Congress, MacArthur Fellows, Rhodes Scholars, Marshall Scholars, Turing Award Recipients<br> <br>
    </p>
        </div>

   <h1>Why Harvad University</h1>
   <div class="main">
        <div class=" box2">
   <p>Yeras Of Academic Experience</p>
   </div><br> <br> 
            <div class=" box3">
        <p>PlaceMent of Arts And Science</p>
        </div>
        <br> <br>
        <div class=" box4">
        <p>99.1 Fm Inside a campus</p>
        </div>
        </div>
        <br> <br><br>
        <section class="container">
        <div class="box5">

        <h1>Vision</h1>
        <p>To emerge as a world renowned Institution that is integrated with Industry to impart Knowledge, Skills, Research Culture and Values in youth who can accelerate the overall development of India.</p>
        </div>
        <br>




        <div class="box6">
            <h1>Mission</h1>
            <p>To impart superior quality education at affordable cost, nurture academic and research excellence, maintain eco-friendly and future-ready infrastructure, and create a team of well qualified teaching professionals who can build global competency and employability.</p>
        </div>
        </section>

    <h1>Our Establishment So Far</h1>
    <div class="box7">
        <p>
            18+
            Years Old
            90+
            Awards and Honors
            200+
            Best Teachers
            3500+
            Students Enrolled
        </p>
        </div>
        <h1>Reinforcing Entrepreneurship at RCAS</h1>
        <div class="box8">
        <p>Harvad  Group is a pioneer in creating conducive space for innovation, start-ups, and entrepreneurship. Due to its diligence towards innovation, Rathinam is one of the 35 institutes across India to be selected as the center for the first phase of ATAL Innovation Mission (2018). It has already launched several successful social startups like No Food Waste, Edudharma, City Sence, and Cipher Labs.
            ATAL Incubation Centre (AIC) is an initiative under the ATAL Innovation Mission (AIM) of NITI AAYOG, which encourages and reinforces innovative startups by providing supporting amenities in terms of infrastructure, resources, and indisputable mentoring ecosystem.

            Rathinam, with its existing formal tie-up with EDII (Govt. of India), is highly adept to provide entrepreneurship training to prospective incubates. Thanks to EDII’s end-to-end backing in the form of training and support modules/curriculum/trainers. The young innovators at Rathinam receive the fruits of focused and foundational knowledge building during their entrepreneurial journey.
        </p>
        </div>
    </center>
    <footer>
        <table id="customers">
            <tr>
                <th>Other Links</th>
                <th>
                    Quick Links
                </th>
                <th>Contact Us</th>
            </tr>
            <tr>
                <td>Campus Visit</td>
                <td>Campus Map</td>
                <td>Jobs at Rathinam Institutions Us</td>
            </tr>
            <tr>
                <td>NIRF - College</td>
                <td>NIRF - Overall Berglund</td>
                <td>6382907344</td>
            </tr>
            <tr>
                <td>Godd place ments c</td>
                <td>A++ Ranking</td>
                <td>Rcas</td>
            </tr>
            <tr>
                <td>Ernst Handel</td>
                <td>Roland Mendel</td>
                <td>Austria</td>
            </tr>
            <tr>
                <td>Island Trading</td>
                <td>Helen Bennett</td>
                <td>UK</td>
            </tr>
            <tr>
                <td>Königlich Essen</td>
                <td>Philip Cramer</td>
                <td>Germany</td>
            </tr>
            <tr>
                <td>Laughing Bacchus Winecellars</td>
                <td>Yoshi Tannamuri</td>
                <td>Canada</td>
            </tr>
            <tr>
                <td>Magazzini Alimentari Riuniti</td>
                <td>Giovanni Rovelli</td>
                <td>Italy</td>
            </tr>
            <tr>
                <td>North/South</td>
                <td>Simon Crowther</td>
                <td>UK</td>
            </tr>
            <tr>
                <td>Paris spécialités</td>
                <td>Marie Bertrand</td>
                <td>France</td>
            </tr>
        </table>
    </footer>
    


</body>
</html>
